<!-- <!doctype html>
<html>

<head>
  <title>Basic Calculator</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="calculator.css">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="index.html">Home</a>
            <a class="navbar-brand" href="calculator.html">Calculator</a>
            <a class="navbar-brand" href="contact.html">Contact</a>
          </div>
        </div>
      </nav>  -->
      
   
    <% include header %>
    
    <header>  <h2>Basic Calculator</h2></header><br>
  <div>
      <form>
          <div class="form-group">
            <label for="formGroupExampleInput" >Input 1</label>
            <input type="number" class="form-control" id="formGroupExampleInput" placeholder="First input value" required/>
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Input 2</label>
            <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="Second input value" required/>
          </div>
          <input type="submit" onclick="sum()" value="sum"/>
          <input type="submit" onclick="Diff()" value="Difference"/>
          <input type="submit" onclick="mul()" value="Multiplication"/>
          <input type="submit" onclick="div()" value="Division"/>
          <input type="reset" value="Reset"/>
        </form>
    
  </div>
    
  </footer>
  <script src="/js/calculator.js" ></script>
  <% include footer  %>