
        <% include header %>
      
     <body>
        
        <div id = "class1" > 
       <header><h1>Contact details</h1></header> 
    <a href="https://www.facebook.com/"><img src="/images/fb.jpg" width=60px>Click here for my facebook</a><br><br>
    <a href="https://www.linkedin.com/in/vamsee-krishna-gangapatnam-81271bb9/"><img src="/images/linkedin.png" width=60px>Click here for my Linkedin</a><br><br>
    <a href="https://github.com/"><img src="/images/githubimage.png" width=60px>Click here for my Git hub</a><br><br>
    <a href="https://bitbucket.org/vamsee474/"><img src="/images/bitbucket.png" width=60px>Click here for my bitbucket</a><br><br>
    <link rel="stylesheet" href="CSS/vamsee2.css">
  

<form>
        First name:
        <input type="text" name="firstname" required>
        <br><br>
        Last name:
        <input type="text" name="lastname" required><br><br>
                           
        Email ID:
        <input type="email" name="email" required><br><br>
        <input type = "submit">
         
</form><br><br>
</div>
</body>

</html> 
<%include footer %>