<!--
<!doctype html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Vamsee Krishna Gangapatnam</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="/CSS/vamsee2.css" >
      
   </head>
   <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Home</a>
              <a class="navbar-brand" href="/calculator">Calculator</a>
              <a class="navbar-brand" href="/contact">Contact</a>
            </div>
          </div>
        </nav>
        
      -->
      <%include header %>
        <img class="img-circle" src="/images/myphoto.jpg" align="right" height="200" width="200">
      <header>
          
         <h1>  06-Vamsee Krishna Gangapatnam</h1>
         
      </header>
      <main>
         <article>
            <section id="current-section">
                <h2  class="section-header"> About me</h2>
               <p id="para1">Hey guys!! Vamsee here, currently I am pursuing my masters in applied computer science at Northwest Missouri state university. I did my bachelor’s degree from JNTU Ananthapur University India in the stream of Electronics and communications enginnering.</p>
            </section>
            <section id="past-section">
               <h2  class="section-header">About my work experience</h2>
               <p id="para2">Over 4 Years of experience as a Sr Software Engineer on Amazon Web Service (Cloud Computing Infrastructure) as AWS Solution Architect (Sr Devops Engineer-chef,puppet,ansible,docker,Jenkins,Python) along with MSSQL(SQL server 2016, 2012 2008 R2), Windows server(2003,2008R2 2012) from Cognizant technology solutions, India. Hands on experience on the implementation of the client IT infrastructure into cloud and hosting java and .net applications. Developing applications and Good hands on experience on networking, system troubleshooting and automating manual tasks.
               </p>
            </section>
            <section id="future-section">
               <h2 class="section-header">My Dream job</h2>
               <p id="para3">I wanted to be part of Microsoft as a Developer</p>
            </section>
            <h2 class="section-header">My University</h2>
            <iframe  width="560" height="315" src="https://youtube.com/embed/2OcbJkQY-SA" allowfullscreen></iframe>
            <section>
               <h2  class="section-header">SCHEDULE</h2>
               
               <ol>
                  <li>Database management system</li>
                  <li>Object oriented programming</li>
                  <li>Development of Web applications and services</li>
                  <li>JAVA lab</li>
               </ol>
               
            </section>
         </article>
      </main>
      <ASIDE>
          
         <H2 class="aside-header">My interests</H2>
         <P id ="para4">I am fond of writing technical blogs and interested to create a knowledge hubs to share with everyone and I love traveling around the world.
          Connect me on Linkedin Linkedin</P>
      </ASIDE>
      <FOOTER class="myfooter">
         <H4>Here is my linkedin profile</h4>
         <a href="https://www.linkedin.com/in/vamsee-krishna-gangapatnam-81271bb9"/>Linkedin</a>
      </footer>
   </body>
</html>
<%include footer %>